.main-advantages {
  width: 100%;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0;
  list-style: none;
}

.advantage-button {
  display: flex;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 100px;
}
